* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.background-image {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.savior {
    text-align: center;
    color: aliceblue;
    padding-top: 100px;
    font-size: 50px;
}